In [22]:
def Sort_Tuple(tup):
    return(sorted(tup, key = lambda x: x[1]))

In [20]:
tup = [('Raja',39,30),('Rani',29,20),('Babu',28,11),('Gopiji',20,20)]

In [21]:
print(Sort_Tuple(tup))

[('Gopiji', 20, 20), ('Babu', 28, 11), ('Rani', 29, 20), ('Raja', 39, 30)]

In [7]:
#sort by first item
import operator

In [8]:
mytuple  = [('Raja',39,30),('Rani',29,29),('Babu',28,11),('Gopiji',20,20)]

In [9]:
mytuple.sort(key = operator.itemgetter(0,0))

In [10]:
print(mytuple)

[('Babu', 28, 11), ('Gopiji', 20, 20), ('Raja', 39, 30), ('Rani', 29, 29)]

In [11]:
mytuple.sort(key = operator.itemgetter(1,1))

In [12]:
print(mytuple)

[('Gopiji', 20, 20), ('Babu', 28, 11), ('Rani', 29, 29), ('Raja', 39, 30)]

In [13]:
mytuple.sort(key = operator.itemgetter(2,2))

In [14]:
print(mytuple)

[('Babu', 28, 11), ('Gopiji', 20, 20), ('Rani', 29, 29), ('Raja', 39, 30)]